input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.encabezado-estilo th {
    background-color: rgb(87, 86, 86);
    color: rgb(23, 148, 23);
    border-bottom: 2px solid gray;
    font-weight: bold;
    font-size: 1 rem;
    text-transform: uppercase;    
}

